@import "tailwindcss";



@theme inline {
  --color-main: #F24C1A;
  --color-secondaryBlack: #1C1C1C;
  --color-secondaryGray: #A7A2A2;
  --color-secondaryMain: #FFDCD1;
  --drop-shadow-myDrop: 20px 20px 20px 20px rgba(255, 255, 255, 1);
}